# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv/
venv/

# Environment variables
.env
.env.*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
build/

# Cache
.pytest_cache/
.mypy_cache/